code/administrator/components/com_dragonpay/resources/config/DragonPayPayoutService.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.dragonpay.ph/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://api.dragonpay.ph/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.dragonpay.ph/">
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="tns:ArrayOfCountry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProcessors">
        <s:complexType />
      </s:element>
      <s:element name="GetProcessorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessorsResult" type="tns:ArrayOfPayoutProcessor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPayoutProcessor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PayoutProcessor" nillable="true" type="tns:PayoutProcessor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PayoutProcessor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="billerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="merchantFee" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="userFee" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestPayoutEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantTxnId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procDetail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="runDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPayoutExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPayoutExResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestMultiplePayouts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payTxns" type="tns:ArrayOfPayoutTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPayoutTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PayoutTransaction" nillable="true" type="tns:PayoutTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PayoutTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="merchantTxnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestMultiplePayoutsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestMultiplePayoutsResult" type="tns:ArrayOfMultiplePayoutResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMultiplePayoutResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MultiplePayoutResult" nillable="true" type="tns:MultiplePayoutResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MultiplePayoutResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="refNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="merchantTxnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTxnStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantTxnId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTxnStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcessorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcessors" />
  </wsdl:message>
  <wsdl:message name="GetProcessorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcessorsResponse" />
  </wsdl:message>
  <wsdl:message name="RequestPayoutExSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPayoutEx" />
  </wsdl:message>
  <wsdl:message name="RequestPayoutExSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPayoutExResponse" />
  </wsdl:message>
  <wsdl:message name="RequestMultiplePayoutsSoapIn">
    <wsdl:part name="parameters" element="tns:RequestMultiplePayouts" />
  </wsdl:message>
  <wsdl:message name="RequestMultiplePayoutsSoapOut">
    <wsdl:part name="parameters" element="tns:RequestMultiplePayoutsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTxnStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTxnStatus" />
  </wsdl:message>
  <wsdl:message name="GetTxnStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTxnStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="PayoutServiceSoap">
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of countries</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessors">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of processors</wsdl:documentation>
      <wsdl:input message="tns:GetProcessorsSoapIn" />
      <wsdl:output message="tns:GetProcessorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestPayoutEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request for one-time payout</wsdl:documentation>
      <wsdl:input message="tns:RequestPayoutExSoapIn" />
      <wsdl:output message="tns:RequestPayoutExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestMultiplePayouts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Multiple requests for payout</wsdl:documentation>
      <wsdl:input message="tns:RequestMultiplePayoutsSoapIn" />
      <wsdl:output message="tns:RequestMultiplePayoutsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check the status of a transaction</wsdl:documentation>
      <wsdl:input message="tns:GetTxnStatusSoapIn" />
      <wsdl:output message="tns:GetTxnStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayoutServiceSoap" type="tns:PayoutServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://api.dragonpay.ph/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessors">
      <soap:operation soapAction="http://api.dragonpay.ph/GetProcessors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPayoutEx">
      <soap:operation soapAction="http://api.dragonpay.ph/RequestPayoutEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiplePayouts">
      <soap:operation soapAction="http://api.dragonpay.ph/RequestMultiplePayouts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnStatus">
      <soap:operation soapAction="http://api.dragonpay.ph/GetTxnStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayoutServiceSoap12" type="tns:PayoutServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://api.dragonpay.ph/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessors">
      <soap12:operation soapAction="http://api.dragonpay.ph/GetProcessors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPayoutEx">
      <soap12:operation soapAction="http://api.dragonpay.ph/RequestPayoutEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiplePayouts">
      <soap12:operation soapAction="http://api.dragonpay.ph/RequestMultiplePayouts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnStatus">
      <soap12:operation soapAction="http://api.dragonpay.ph/GetTxnStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayoutService">
    <wsdl:port name="PayoutServiceSoap" binding="tns:PayoutServiceSoap">
      <soap:address location="http://test.dragonpay.ph/DragonPayWebService/PayoutService.asmx" />
    </wsdl:port>
    <wsdl:port name="PayoutServiceSoap12" binding="tns:PayoutServiceSoap12">
      <soap12:address location="http://test.dragonpay.ph/DragonPayWebService/PayoutService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>